body{
    background-color: hsl(47, 88%, 63%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family:"Figtree", sans-serif;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: white;
    width: 15%;
    height: 25%;
    padding: 10px;
    border-color: black;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    border-radius: 10px;
}


.learning{
    background-color: hsl(47, 88%, 63%);
    font-weight: 700;
    padding: 2%;
    width: fit-content;
    font-size: x-small;
    border-radius: 3px;
    margin-bottom: 5px;;
}

.illustration{
    border-radius: 20px;
    max-width: 100%;
    max-height: 90%;    
}

p{
    color: hsl(0, 0%, 42%);
    font-size: x-small;
    align-self: baseline;
    margin-top: 5px;
    column-gap: 3px;
}

h1{
    font-size: large;
    align-self: baseline;
}

h1:hover{
    color: hsl(47, 88%, 63%);
    transition: 0.2s;
}

.author{
    display:flex;
}

.author-name{
    justify-content: center;
    align-self: center;
    font-weight: 800;
    font-size: x-small;
    
}

.author-image{
    width: 10%;
    height: 10%;
    justify-content: center;
    align-self: center;
    margin-right: 5px;
}

.date{
    align-self: baseline;
    font-size: x-small;
    margin-top: 10px;
}